<select
        class="c-select"
        name="{{ field_type.input_name }}"
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.required ? 'required' }}>

    {% if not field_type.required %}
        <option>{{ trans(field_type.placeholder) }}</option>
    {% endif %}

    {% for value, title in field_type.options %}
        <option value="{{ value }}" {{ field_type.value.id == value ? 'selected' }}>{{ trans(title) }}</option>
    {% endfor %}
</select>
