<select
        class="custom-select form-control"
        name="{{ field_type.input_name }}">

    <option value="" disabled {{ not field_type.value ? 'selected' }}>{{ trans(field_type.placeholder) }}</option>

    {% for value, title in field_type.options %}
        <option value="{{ value }}" {{ field_type.value == value ? 'selected' }}>{{ trans(title) }}</option>
    {% endfor %}
</select>
