<select name="{{ field_type.getInputName() }}" class="form-control select2" {{ field_type.disabled ? 'disabled' }}>

    {% for value, title in field_type.options %}

        <option value="{{ value }}" {{ field_type.value == value ? 'selected' }}>{{ title }}</option>

    {% endfor %}

</select>
