<select
        class="form-control"
        name="{{ field_type.input_name }}"
        {{ field_type.disabled ? 'disabled' }}>

    {% for value, title in field_type.options %}

        <option value="{{ value }}" {{ field_type.value == value ? 'selected' }}>{{ title }}</option>

    {% endfor %}

</select>
